::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9a21d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #481163;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--cor-branca);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}